.headfoot {
  font-family: 'Sora', sans-serif;
  font-variation-settings: "wght" 300;
  height:10vh;
  margin: 5px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
    font-size: 4em;
}


.container {
      width:auto;
      height:80vh;
      margin: 20px;
}
.left {
      width:45%;
      float:left;
}
.right {
    font-family: 'Sora', sans-serif;
  font-variation-settings: "wght" 400;  
      width:45%;
      float:right;
      list-style-type: none; /* Remove bullets */
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

/* Click the image for fullscreen */
#fullpage {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}