.headfoot {
  margin: 5px;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
    font-size: 4em;
}


.container {
      width:auto;
      height:auto;
      margin: 20px;
}
.left {
      width:47%;
      float:left;
}
.right {
      width:47%;
      float:right;
      list-style-type: none; /* Remove bullets */
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}